body {
  font-family: ibm-plex-sans, sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
}

.nav {
  order: 2;
  position: fixed;
  margin-left: 1em;
  margin-top: 1.5em;
  z-index: 9;
}

.main {
  order: 1;
  margin-left: 8em;
  margin-right: 1em;
  z-index: 1;
}

.home {
  /* position: fixed; */
  margin-top: 1.75em;
  margin-left: 8em;
  width: 16em;
}

#current {
  font-style: italic;
}

small {
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 1px;
  line-height: 3em;
  
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover::after {
  font-style: italic;
  font-size: 0.75em;
  line-height: 0.75em;
}

a.chickpea:hover::after {
  content: " illustrated poem";
}

a.toys:hover::after {
  content: " book design";
}

a.thetfest:hover::after {
  content: " music festival brand";
}

a.locknlube:hover::after {
  content: " brochure";
}

a.rashomon:hover::after {
  content: " poster";
}

a.fracking:hover::after {
  content: " poster";
}

.flex {
  display: flex;
  justify-content: center;
}

img {
  height: 95vh;
  max-height: calc(95vw / 1.33);
  margin-bottom: 2em;
  object-fit: contain;
}

.chickpea-img {
  margin-right: 2px;
}

.toys-img {
  margin-right: 2px;
}

.thetfest-poster-zoom {
  height: 285vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.lnl {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.slide {
background-size: contain;
width: min( calc(100vh - 5em), calc(100vw - 5em) );
height: min( calc(100vh - 5em), calc(100vw - 5em) );
margin-left: auto;
margin-right: 1em;
margin-top: 2em;
margin-bottom: 2em;
overflow: hidden;

animation-name: slide;
  animation-play-state: running;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% {
    background-image: url(/images/slide/Chickp.png)
  }
  12% {
    background-image: url(/images/slide/Chickp.png)
  }
  16.67% {
    background-image: url(/images/slide/toys.jpg)
  }
  28.67% {
    background-image: url(/images/slide/toys.jpg)
  }
  33.33% {
    background-image: url(/images/slide/thetfest.jpg)
  }
  45.33% {
    background-image: url(/images/slide/thetfest.jpg)
  }
  50% {
    background-image: url(/images/slide/fracking.jpg)
  }
  62% {
    background-image: url(/images/slide/fracking.jpg)
  }
  66.67% {
    background-image: url(/images/slide/lnl.png)
  }
  78.67% {
    background-image: url(/images/slide/lnl.png)
  }
  83.33% {
    background-image: url(/images/slide/Rashomon.jpg)
  }
  95.33% {
    background-image: url(/images/slide/Rashomon.jpg)
  }
  100% {
    background-image: url(/images/slide/Chickp.png)
  }
}


#mobile{
  display: flex; flex-direction: row;
}

@media all and (max-width: 1200px){
  #mobile{
    display: block;
  }
  .slide{
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media only screen and (max-width: 1100px) {
  .nav {
    position: static;
    margin-bottom: 4em;
  }
  body {
    display: flex;
  }
  .main {
    margin-left: 1em;
  }
  .home {
    position: static;
    margin-left: 0em;
  }
  .slide{
    margin-left: 0em;
    margin-right: 0.25em;
    width: min( calc(100vh - 5em), calc(100vw - 3em) );
    height: min( calc(100vh - 5em), calc(100vw - 3em) );
    margin-bottom: 0em;
  }

}