body {
  font-family: 'trade-gothic-next', sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.625;
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 0; 
  margin-top: 0;

}



.navext {
  order: 2;
  position: fixed;
  margin-left: 1em;
  margin-top: 1.4em;
  z-index: 9;
  line-height: 1;
}


.homebutton{
  font-family: 'linotype-vectora', sans-serif;
  font-size: 26px;
  line-height: 32px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 10px;
}

#indextitle{
  display: none;
}
#homelink{
  display: none;
}

.slideshow2{
  display: flex;
  justify-content: center;
  position: relative;

  height: calc(0.55*(100vw - 12em));
  max-height: calc(95vh - 6em);

}

.slide_container{
  height: auto;
  max-height: calc(95vh - 6em);
  max-width: 100%;
  margin-bottom: 0em;
  z-index: 100;
  width: 100%;
  background-color: #eee;
  margin-left: -0.2em;
  margin-right: -0.2em;
  margin-top: -0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  position: absolute;
}

#home_img1, #home_img2, #home_img3, #home_img4{

  width: 100%;
  /* height: auto; */
  max-height: calc(95vh - 6em);
  object-position: 0% 0%;

  cursor: pointer;
}
/* #home_img2{

  width: 100%;
  height: auto;
  max-height: calc(95vh - 6em);
  object-position: 50% 0%;
} */


/* .newbiolinktemp{
  padding-bottom: 5px;
  margin-bottom: -5px;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 20px, #000 20px, #000 21px, transparent 21px);
  cursor: pointer;
} */





#index{
  font-weight: var(--fontweight); background-color: #eeeeee;
}
#thetfest{
  background-color: #27200e; color: #e7ca6b;
  font-weight: var(--fontweight);
}
#economics{
  background-color: #eee; color: #000000;
  font-weight: var(--fontweight);
}
#disintegrate{
  background-color: #eee; color: #000000;
  font-weight: var(--fontweight);
}
#fighting{
  background-color: #eeeeee; color: #000000; font-weight: var(--fontweight);
}
#ward{
  background-color: #000000; color: #ded9d3; font-weight: var(--fontweight);
}
#locknlube{
  background-color: #ffffff; color: #000000; font-weight: var(--fontweight);
}
#chickpea{
  background-color: #222; color:#ccc;
  font-weight: var(--fontweight);
}
#blur{
  /* background-color: rgb(242, 208, 217);  */
  background-color: #c3e9f9;
  color: #000000; 
  font-weight: var(--fontweight);
}
#fracking{
  background-color: #000000; color:#dddddd;
  font-weight: var(--fontweight);
}
#toys{
  background-color: #eeeeee; color:#000000; font-weight: var(--fontweight);
}
#rashomon{
  background-color: #000000; color: #dddddd;
  font-weight: var(--fontweight);
}
#invitation{
  background-color: #fff; color:#000000; font-weight: var(--fontweight);
}
#butterfly{
  background-color: #111; color: 	#fbc5c5;
  font-weight: var(--fontweight);
}
#sewspace{
  background-color: #eeeeee; color: 	#000;
  font-weight: var(--fontweight);
}










.main {
  order: 1;
  display: flex;
  flex-direction: row;
  margin-left: 10em;
  margin-right: 1em;
  z-index: 1;
}

#column{
  flex-direction: column;
}

.home {
  margin-top: 18px;
  /* margin-left: min(36vw, 22em); */
  /* width: 47em !important; */
  margin-left: 16em;
  /* margin-right: 5em; */

}

.homeflex{
  display: flex;
	flex-direction: row;

}

.homebio{
  max-width: 36.5em;
  margin-right: 5em;
  min-width: 235px;
  margin-bottom: 26px;
}

#current {
  font-style: italic;
}

small {
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 1px;
  line-height: 16px;


  
}


.newtitle{
  line-height: 1.5em; 
  text-transform: none; 
  letter-spacing: 0.4px;

  font-family: 'linotype-vectora', sans-serif;
  font-size: 21px;
  line-height: 26px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 10px;
}


b{
  font-weight: 800; 
  font-size: 1.75em; 
  font-family: 'linotype-vectora', sans-serif;
  margin-bottom: 23px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}













a:hover::after {
  font-style: italic;
  font-size: 0.75em;
  line-height: 1;
  letter-spacing: 0.02em;
}

a.chickpea:hover::after {
  content: "illustrated poem";
  font-weight: var(--fontweight);
  padding-left: 1em;
}

a.toys:hover::after {
  content: "book design";
  font-weight: var(--fontweight);
  padding-left: 1em;
}

a.thetfest:hover::after {
  content: "music festival brand";
  font-weight: var(--fontweight);
  padding-left: 1em;
}

a.economics:hover::after {
  content: "textbook design";
  font-weight: var(--fontweight);
  padding-left: 1em;
}

a.disintegrate:hover::after {
  content: "variable font";
  font-weight: var(--fontweight);
  padding-left: 1em;
}

a.locknlube:hover::after {
  content: "brochure";
  font-weight: var(--fontweight);
  padding-left: 1em;
}

a.rashomon:hover::after {
  content: "poster";
  font-weight: var(--fontweight);
  padding-left: 1em;
}

a.fracking:hover::after {
  content: "poster";
  font-weight: var(--fontweight);
  padding-left: 1em;
}

a.invitation:hover::after {
  content: "letterpress booklet";
  font-weight: var(--fontweight);
  padding-left: 1em;
}

a.ward:hover::after{
  content: "limited-edition book";
  font-weight: var(--fontweight);
  padding-left: 1em;
}

a.fighting:hover::after{
  content: "discussion board";
  font-weight: var(--fontweight);
  padding-left: 1em;
}

a.blur:hover::after{
  content: "typeface design";
  font-weight: var(--fontweight);
  padding-left: 1em;
}

a.butterfly:hover::after{
  content: "theater poster";
  font-weight: var(--fontweight);
  padding-left: 1em;
}

a.sewspace:hover::after{
  content: "website design";
  font-weight: var(--fontweight);
  padding-left: 1em;
}












.flex {
justify-content: center;
}

img {
  height: 95vh;
  
  margin-bottom: 4em;
  object-fit: contain;
}

.text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6em;
  max-width: 32em;
  padding: 2em;
}




















.toys-img {
  margin-right: 2px;
}

.thetfest-poster-zoom {
  width: 100%;
  height: auto;
  
  
}

.thetfest-talls{
  display: flex;
  flex-direction: row;
  margin-top: 4em;
  margin-right: 6em;
}

.thetfest-imgb{
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 50%;
}

.wrist-comp{
  margin-right: 4em;
	margin-bottom: 1em;
}

.schedule{
	margin-bottom: 1em;
}

.fracktophide{
  display: none;
}
.fracktext{
  margin-bottom: 4em;
}
.frackbottomhide{
  margin-bottom: 1em;
}

.lnlc{
  margin-right: 6em;
}

.lnlsp{
  margin-bottom: 2em;
}

.invimg{
  width: auto;
  height: calc(25.5vw - 3em);
  margin-bottom: 1em;
  /* flex-shrink: 0; */
}

.invsp{
  display: flex;
  flex-direction: column;
  margin-left:-10%;
  margin-right:23% ;
  

}
.invsp-top{
  display: flex;
  flex-direction: row;

}
.invsp-btm{
  display: flex;
  flex-direction: row;
}

.ext{
width:32%;
height: auto;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: 7%;

}


.fighting-gif{
  

  margin-top: 2.5em;
  margin-bottom: 1em;
  width: min(95%, 160vh - 2em);
  height: auto;
  /* border-width: 1.5px;
  border-style: solid;
  border-color: #000000; */
  padding: 1.5px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  

}
.fighting1{
  height:60vh;
  margin-right: 8em; 
  margin-top: 2.5em;
}
.fighting2{
  height:60vh;
  margin-left: 4em;
}


.lyndimg1{
  margin-top: -1em; 
  height:100vh;
  margin-bottom: 1em;
}
.lyndimg2{
  height:45vh; 
  margin-bottom: -1em;
}
.lyndimg3{
  margin-bottom: 0; 
  height:auto; 
  width:100%;
}
.lyndimg5{
  height:60vh;
  margin-bottom: 8em;
}

.wardcredits p{
  line-height: 26px;
}



.blurtext{
  height: 80vh;
 padding: 1.5em 1.5em 2em 1.5em;
  border-width: 1.5px;
  border-style: solid;
  border-color: #000000;
  margin-left: auto;
  margin-right: auto;
  background-color:#edf6fb;
}
.blurtext1{
  margin-bottom: 0; 
  transform: translateX(-15vh);
}
.blurtext2{
  margin-top: -20vh !important; 
  transform: translateX(15vh);
}
.blurbeziers{
  height: 85vh; 
  margin-top: 2em; 
  margin-bottom: 6em;
}

.blurpans{
  height:auto;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
}

.blurx2{
  margin-top: 3em;
}


.butterflyimg{
  width: 80%; margin-left: auto; margin-right: auto; margin-bottom: 2em;
}

.butterflytxt{
  margin-bottom: 4em;
  margin-top: 2em;
}


.econpages{

  height: 100vh;
  margin-bottom: 2em;

  max-height: 60vw;
}
.econcover{
  margin: 0.5em auto 3em auto; width: auto; height: 95vh;
}
.econdetail{
  width: 100%; height: auto; margin-top: 2em; margin-bottom: 5em;
}


.disintegrate_img{
  height: auto;
  max-height: calc(95vh - 2em);
  max-width: 100%; 
  margin-bottom: 0em;
  margin-top: 1.5em;
  z-index: 100;
}

#cont1_img1{
  top: 0;
  position: absolute;

}
#cont1_img2{
  top: 0;
  position: absolute;
}
#cont1_img3{
  top: 0;
  position: absolute;
}
#cont1_img4{
  top: 0;
  position: absolute;
}

#cont2_img1{
  top: 0;
  position: absolute;

}
#cont2_img2{
  top: 0;
  position: absolute;
}

#cont3_img1{
  top: 0;
  position: absolute;

}
#cont3_img2{
  top: 0;
  position: absolute;
}
#cont3_img3{
  top: 0;
  position: absolute;
}


.slideshow1{
  display: flex;
  justify-content: center;
  position: relative;

  height: calc(0.55*(100vw - 12em));
  max-height: calc(95vh - 1em);

}

.dis_hide{
  z-index: -100 !important;
}
/* .dis_show{
  z-index: 100 !important;
} */

.dis_caption{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0em;
  max-width: 32em;
  padding: 2em;
}

.dis_inset{
  height:60vh;
  margin-top: 2em;
}

.dis_small{
  font-size: 0.75em;
  line-height: 19px;
  letter-spacing: 0.03em;
}


.namepassage{
  margin-top: 4em;
}

.typetester{
  margin-bottom: 0;
}


.sewimg{
  width: 92%;
  margin-left: 4%;
  max-height: calc(95vh - 1em);
  height: auto;
  margin-bottom: 2em;
}

.sewtxt{
  margin-bottom: 2em;
}

.sewimghead{
  margin-top: 1em;
}









@media only screen and (min-width: 1000px) and (orientation: portrait) {
  img{
    height: auto;
    width: 100%;
  }
}


@media only screen and (max-width: 925px) {
  .homeflex{
    flex-direction: column;
  }
  .homebio{
    margin-right: 2em;
    margin-bottom: 13px;
  }
  .contactinfo{
    display: flex;
    flex-direction: row;
  }
  .mailto{
    margin-right: 4em;
  }

  .slideshow2{
    margin-top: 1.4em;
  }

  #home_img1, #home_img2, #home_img3, #home_img4 {
    max-height: calc(92vh - 8em);
  }



}


@media only screen and (max-width: 1113px) {


  #home_img1, #home_img2, #home_img3, #home_img4 {
    max-height: calc(92vh - 7em);
  }

}
@media only screen and (max-width: 900px) {


  #home_img1, #home_img2, #home_img3, #home_img4 {
    max-height: calc(92vh - 9em);
  }

}

@media only screen and (max-width: 370px) {
  .contactinfo{
    display: block;
  }
  .mailto{
    margin-right: 0;
  }

}













@media only screen and (max-width: 766px) {







  .navext {
    position: static;
    margin-left: 2em;
    margin-bottom: 2em;
    margin-right: 1em;
    /* border-top-style: solid;
    border-top-width: 1px;
    padding-top: 1em; */
    margin-top: 4em;
  }
  
  body{
    margin-left: 0px;
    margin-right: 0px;
  }

  .main {
    margin-top: 1em;
    display: flex;
    margin-left: 0em;
    margin-right: 0em;
    flex-direction: column;
  }
  .home {
    position: static;
    margin-left: 2em;
    margin-top: 0;
  }
  .slide{
    margin-left: auto;
    margin-right: auto;
    width: 16em;
    height: 16em;
    
  }

  .homeimgdiv{
    margin-left: auto;
    margin-right: auto;
  }

  .hideheadbr{
    display: none;
  }

  a{
    padding-top: 8px;
    padding-bottom: 8px;
  }





  a::after {
    font-style: italic;
    font-size: 0.75em;
    line-height: 1;
    letter-spacing: 0.02em;
  }

  a.chickpea::after {
    content: "illustrated poem";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }
  
  a.toys::after {
    content: "book design";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }
  
  a.thetfest::after {
    content: "music festival brand";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }
  
  a.locknlube::after {
    content: "brochure";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }
  
  a.rashomon::after {
    content: "poster";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }
  
  a.fracking::after {
    content: "poster";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }
  
  a.invitation::after {
    content: "letterpress booklet";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }
  
  a.ward::after{
    content: "limited-edition book";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }
  
  a.fighting::after{
    content: "discussion board";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }
  
  a.blur::after{
    content: "typeface design";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }
  
  a.butterfly::after{
    content: "theater poster";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }

  a.economics::after {
    content: "textbook design";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }
  
  a.disintegrate::after {
    content: "variable font";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }

  a.sewspace::after{
    content: "website design";
    font-weight: var(--fontweight);
    padding-left: 1em;
  }









  .schedule{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 512px;
  }

  .wrist-comp{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: auto;
    height: 90vw;
    margin-right: 0em;
    margin-top: -3em;
    margin-bottom: -2em;
  }

  img {
    height:auto;
    width: 100vw;
    margin-bottom: 2em;
  }
  .text{
    margin-bottom: 2em;
    padding-top: 0em;
  }


  .negativetop{
    margin-top: -1.5em;
  }

  .shrink{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }

  .thetfest-talls{
    margin-top: 0em;
    flex-direction: column;
    margin-right: 0em;
  }

  .thetfest-imgb{
    width:100%;
  }

  .frack {
    display: none;
  }

  .fracktop{
    max-height: 100vh;
    margin-top: -1.5em;
  }
  .fracktophide{
    display: block;
  }
  .frackbottomhide{
    display: none;
  }
  .fracktext{
    margin-bottom: 0;
  }

  .toycover{
    max-height: 100vh;
    margin-bottom: 5em;
  }

  .lnl{
    height: auto;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .lnlc{
    margin-right: auto;
  }

  .lnlsp{
    margin-bottom: 4em;
    margin-top: 2em;
  }

  .invimg{
    width: 100vw;
    height: auto;
  }

  .invsp{
    display: flex;
    flex-direction: column;
    margin-left: 0em;
    margin-right: 0em;

  }
  .invsp-top{
    display: flex;
    flex-direction: column;

  }
  .invsp-btm{
    display: flex;
    flex-direction: column;
    
  }

  .imv{
    display: none;
  }

  .ext{
    width: calc(100% - 4em);
    height: auto;
  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 2em;

  }

 
  .fighting-gif{
    margin-top: -1em;
    margin-bottom: 4em;
    width: 95vw;
    height:auto;
    
    
    /* border-width: 1.5px;
    border-style: solid;
    border-color: #000000; */
    padding: 1.5px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }

  .fighting1{
    width:95vw;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 1em;
  }
  .fighting2{
    width:95vw;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 0em;
    margin-bottom: 3em;
  }


  .lyndimg1{
    margin-top: 1em; 
    width: 100vw;
    height:auto;

  }
  .lyndimg2{
    width: 90vw;
    height:auto; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 0em;
  }
  .lyndimg3{
    margin-top: 2em;
    margin-bottom: 4em; 
    height:auto; 
    width:100vw;
  }
  .lyndimg5{
    width: 84vw;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
  }

  .lyndbr{
    display: none;
  }
  .lyndimg4{
    margin-top: 2em;
  }


  .blurtext{
    width: calc(65vw);
    height: auto;
    padding: 3vw 3vw 4vw 3vw;
    border-width: 1.5px;
    border-style: solid;
    border-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-color:#edf6fb;
  }
  .blurtext1{
    margin-bottom: 0; 
    transform: translateX(-12vw);
  }
  .blurtext2{
    margin-top: -20vh !important; 
    transform: translateX(12vw);
  }

  .blurbeziers{
    height: auto;
    width: 90vw;
    margin-top: 2em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
  }
  
  .blurpans{
    height:auto;
    width:95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
    margin-bottom: 4em;
  }

  .blurx1{
    margin-bottom: 1em;
  }
  .blurx2{
    margin-bottom: 4em;
  }


  .butterflyimg{
    margin-top: 0;
    width: 100vw;
    margin-bottom: 4em;
  }

  .butterflytxt{
    margin-bottom: 4em;
  }

  body#butterfly{
    margin-top:0
  }
  #butterfly .main{
    margin-top: 0;
  }



  .econcover{
    margin: -1em auto 3em auto; width: 93vw; height: auto;
    max-height: calc(100vh - 1em);
  }

  .econpages {
    height: auto;
    margin-bottom: 3vw;
    max-height: none;
  }

  .econdetail{
    width: calc(100% - 2em);
    margin-left: 1em;
    margin-bottom: 4em;
  }

  .disintegrate_img{
    width: calc(100% - 2em);
    height: auto;
    margin-left: 0em;
  }

  .dis_caption{
    margin-bottom: 0; 
    padding: 1em; 

  }


  .slideshow1{
    display: flex;
    justify-content: center;
    position: relative;
  
    height: calc(0.55*(100vw));
    width: 100%;
  
  }

  .dis_inset{
    width: calc(100% - 2em);
    height: auto;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 0;
  }

  .namepassage{
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .typetester{
    margin-bottom: 1em;
  }

  .dis_head{
    margin-bottom: 1em;
    margin-top: -1em;
  }

  .sewtxt{
    margin-top: 2em;
    margin-bottom: 2em;
  }











  #home_img1, #home_img2, #home_img3, #home_img4{

    max-width: calc(100% - 1.5em);
    height: calc(52vw - 2em);
    max-height: none;

  }

  .slide_container{
    height: calc(52vw - 2em);
    max-height: none;
    max-width: 100%;

  }









}
